{
  "presets": ["es2015-loose"],
  "plugins": ["transform-flow-strip-types", "transform-object-rest-spread"],
   "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "**/*.spec.js"
          ]
        }]
      ]
    }
  }
}
