{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "chai": true,
    "expect": true,
    "sinon": true
  },
  "rules": {
    "semi": [2, "always"],
    "no-console": 0,
    "quotes": [2, "single"],
    "indent": [2, 2],
    "linebreak-style": [2, "unix"],
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1,
    "flowtype/valid-syntax": 1
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": false
    }
  }
}
