<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <h2>
    Open your console tab (from developers tools) and play with
    <%= htmlWebpackPlugin.options.title %>
  </h2>
</body>

</html>
